# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

.terraform/
*.tfstate
*.tfstate.*
crash.log
.terraform.lock.hcl
.DS_Store

*.tfvars
*.tfvars.json

*.pem
*.pub
id_rsa*

terraform.tfvars

.terraform/